@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

* {
    margin: auto;
    font-family: "Quicksand";
    color: rgb(29, 30, 31);
    background-color: rgb(129, 170, 184);
  width: 100%;
  }
